<div class="container">
  <div class="row">
    <div class="col s3 m3">
      <form action="#">
        <p>
          <input name="group1" ng-value="true" ng-model="main.sexeOption" type="radio" id="test1" />
          <label for="test1">Homme</label>
        </p>
        <p>
          <input name="group1" ng-model="main.sexeOption" ng-value="false" type="radio" id="test2" />
          <label for="test2">Femme</label>
        </p>
        <p>
          <input class="with-gap" ng-model="main.sexeOption" ng-value="null" name="group1" type="radio" id="test3"  />
          <label for="test3">tous</label>
        </p>
      </form>
    </div>
    <div class="input-field col s4">
        <label for="searchText">Rechercher avec n'importe quel mot</label>
        <input type="text" ng-model="main.searchText" id="searchText">
    </div>
  </div>
  <div class="row">
      <h5>Filtrer par Age</h5>
      <div class="col s12 m12">
          <form action="#">
            <p class="range-field">
              <input type="range" ng-model="main.ageRange"id="test5" min="0" max="100" />
              <span>Age : {{main.ageRange}} ans</span>
            </p>
          </form>
      </div>
  </div>

  <div class="row">
    <div class="col s12 m12" id="users"  masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".horizontal"}'>

        <div masonry-tile ng-class="{'shake':(user.naissance|month)}" class="card horizontal animated"  ng-repeat="user in main.users | triSexe:main.sexeOption | searchText:main.searchText |ageMax:main.ageRange track by user.id" >

          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" ng-src="{{ user.photo }}" alt="{{ user.pseudo }}" width="200px" />
          </div>
          <div class="card-stacked">
            <div class="card-content">

              <span class="card-title activator grey-text text-darken-4" >#{{ user.id }} {{ user.pseudo }}<i class="material-icons right">more_vert</i></span>

              <p>{{ user.sexe ? 'Homme' : 'Femme'}} - {{ user.naissance }} ({{main.age(user.naissance)}} ans) - {{ user.activite }} - {{ user.pays }}</p>

              <p ng-if="user.naissance|month"><i class="material-icons">cake</i> Joyeux anniversaire !</p>

              <a class="btn-floating btn-large waves-effect waves-light red" id="btn-del" ng-click="main.deleteUser($index)"><i class="material-icons">delete</i></a>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4" >#{{ user.id }} {{ user.pseudo }}<i class="material-icons right">close</i></span>
            <p>{{ user.sexe ? 'Homme' : 'Femme'}} - {{ user.naissance }} - {{ user.activite }} - {{ user.pays }}</p>
            <p>
              Saisons : <span ng-repeat="saison in user.saisons">{{saison}}.</span><br/>
              {{ user.resume }}
              span
            </p>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
      <map users="main.users" coords="{lat:49.00749937, lng:2.54836031}"></map>
  </div>
</div>


</md-content>
